@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

/* Editor Console Logs */
.editor__console-logs {
    padding: 10px;
    list-style: none;
}

.editor__console-logs li pre {
    font-size: .9em;
    font-family: Inconsolata, sans-serif;
}

.ace_gutter {
    border-left: 5px solid var(--editor-border);
}

.log--default {
    color: #000;
}

.log--string {
    color: #f3f3f3;
}

.log--number {
    color: #fdfffb;
}

.log--boolean {
    color: blue;
}

.log--undefined {
    color: grey;
}

.log--error {
    color: red;
}

.log--object {
    color: darkcyan;
}

.log--array {
    color: darkblue;
}

.log--function {
    color: yellow;
}

.editorContainer{
    /* border: 2px solid red; */
}
#editor{
    /* border: 2px solid red; */
}
.output{
    /* border: 2px solid green; */
    height: 130px;
    overflow: scroll;
    background-color: rgb(21, 2, 37);


}




.outputcode{
    /* border: 2px solid red; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 200; */
    /* left: 90%; */
    /* flex-direction: column; */
    padding: 0;
    margin: 0;
    font-size: 15px;

}
.outputcode h1{
    font-size: 15px;
    padding: 0px;
    margin: 5px;
    letter-spacing: 1.6px;
    color: white;
    font-family: 'Exo 2';
    cursor: none;

    font-weight: 200;
}
.editor__footer--right{
    /* border: 2px solid red; */
}
.editor__console-logs{
    font-size: 12px;
    letter-spacing: 1.5px;
    font-family: 'Exo 2';


}
.editor__console-logs li pre {
   height: 6;
}

.ace-dracula {
    background-color: #2e0035;;
    color: #f8f8f2;
}
.ace_gutter-layer {
    background: #2d143c;

}
.widgetsDrawer{
    width: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
